<p-panel header="Angular 17 " class="p-2">
    <p>
       Programas realizados en angular 17 con standalone: false,  
    </p>
</p-panel>
<!-- Bases -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="DBZ Agrega Personajes">
            <div style="text-align: center;">
                <p-button label="Abrir BaseApp" icon="pi pi-external-link" 
                (click)="abrirEnlaceBaseApp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitBAseApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>
<!-- gifs -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="Buscar Gifs">
            <div style="text-align: center;">
                <p-button label="Abrir GifsApp" icon="pi pi-external-link" 
                (click)="abrirEnlaceGifsapp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitGifsApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>

<!-- countryApp -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="Filtrado por paises">
            <div style="text-align: center;">
                <p-button label="Abrir CountyApp" icon="pi pi-external-link" 
                (click)="abrirEnlaceCountyapp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitCountryApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>

<!-- PipesApp -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="Pipes">
            <div style="text-align: center;">
                <p-button label="Abrir PipeApp" icon="pi pi-external-link" 
                (click)="abrirEnlacePipeApp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitPipeApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>

<!-- heroesApp -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="HeoresApp">
            <span>Para ingresar en el login de la app solo presiona el boton de ingresar</span>
            <hr/>
            <div style="text-align: center;">
                <p-button label="Abrir HeoresApp" icon="pi pi-external-link" 
                (click)="abrirEnlaceHeroesApp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitHeroesApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>

<!-- FormssApp -->
 <!-- PipesApp -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="FormssApp">
            <div style="text-align: center;">
                <p-button label="Abrir FormsApp" icon="pi pi-external-link" 
                (click)="abrirEnlaceFormsApp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitFormsApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>