<p-panel header="Angular 17 " class="p-2">
    <p>
       Programas realizados en C#, entityFrameWork, Core 5,8  
    </p>
</p-panel>
<!-- Bases -->
<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="CrudProductos">
            <div style="text-align: center;">
                <p-button label="Abrir CrudProductos" icon="pi pi-external-link" 
                (click)="abrirEnlaceCrudProductosApp()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="abrirEnlaceGitCrudProductosApp()"></p-button>
            </div>
        </p-card>
    </div>
</div>

<div class="grid">
    <div  class="col-12 md:col-6">
        <p-card header="CrudProductos">
            <div style="text-align: center;">
                <p-button label="Abrir CrudProductos" icon="pi pi-external-link" 
                (click)="mostrarAlerta()"></p-button>
            </div>
        </p-card>
    </div>
    <div  class="col-12 md:col-6">
        <p-card header="Codigo en Git">
            <div style="text-align: center;">
                <p-button label="Abrir Codigo Git" icon="pi pi-external-link" 
                (click)="mostrarAlerta()"></p-button>
            </div>
        </p-card>
    </div>
</div>


<button >Mostrar Alerta</button>
